.table .author {
  color: #999;
  font-size: 13pt;
}

.table .icon {
  visibility: hidden;
  color: #333;
  padding-left: 48pt;
}

.table .row {
  cursor: pointer;
}

.table {
  padding: 1em 2em;
  border-spacing: 0;
  width: 100%;
}

.table td {
  border-bottom: 1px solid #ccc;
  padding: 1em;
}

.table tr:hover .icon {
  visibility: visible;
}

.table td:last-child {
  text-align: right;
}

.table tr:hover {
  background-color: #fafafa;
}

.table .title, .table .time {
  color: #333;
  font-size: 13pt;
}